body {
    margin: 0;
    height: 100vh;
    background: #0a0a0a;

    /* grid no fundo */
    background-image: 
        linear-gradient(#1f1f1f 1px, transparent 1px),
        linear-gradient(90deg, #1f1f1f 1px, transparent 1px);
    background-size: 40px 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* texto */
h1 {
    color: white;
    font-family: Arial, sans-serif;
    font-weight: 300;
    margin-bottom: 20px;
}

.input {
    position: fixed;
    bottom: 20px;
    left: 48%;
    transform: translateX(-50%);

    width: 245px;
    padding: 10px;

    border-radius: 8px;
    border: none;

    background: #1e1e1e;
    color: white;

    z-index: 10; /* 👈 garante que fica acima de tudo */
}

.container-botoes {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%); /* centraliza certinho */

    display: flex;
    gap: 10px; /* espaço entre eles */
    z-index: 10;
}

.container-botoes button {
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    background: #1e1e1e;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

/* bolinha vermelha */
.bolinha {
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 50%;

    /* brilho */
    box-shadow: 0 0 20px red, 0 0 40px red;

    /* animação */
    animation: pulse 1.5s infinite;
}

/* animação bolinha */
@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 10px red;
    }
    50% {
        transform: scale(1.4);
        box-shadow: 0 0 40px red, 0 0 80px red;
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 10px red;
    }
}